body {
    background-color: #f4f4f4;
}

nav {
    margin-bottom: 40px;
    height: 155px;
    width: 100vw;
}

.with-background {
    background-image: url("../img/cover.png");
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    margin-bottom: 0;
}

h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    margin-top: 200px;
    font-family: 'Shadows Into Light Two';
}

.divide { 
  border: 0; 
  height: 1px;
  background-color: white;
}

.tag-line {
    color: white;
    font-family: 'Wire One';
    text-align: center;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 3px;
}

.button-wrapper {
    margin-top: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.front-button-1 {
    height: 60px;
    background: none;
    color: white;
    padding: 0 30px;
    border: 3px solid white;
    border-radius: 30px;
    outline: none;
}

.front-button-2 {
    float: right;
    height: 60px;
    background: none;
    color: white;
    padding: 0 30px;
    border: 3px solid white;
    border-radius: 30px;
    outline: none;
}

.front-button-1:hover, .front-button-2:hover {
    background: rgba(255, 255, 255, 0.3);
}

.active {
    color: black;
    border-color: black;    
}

.divide.active {
    background-color: black;
}

h1.active {
    margin-top: 0;
    font-size: 40px;
}

.tag-line.active {
    margin-top: 0;
    font-size: 16px;
}

.button-wrapper.active {
    margin-top: 20px;
    width: 300px;
}

.front-button-1.active, .front-button-2.active {
    height: 30px;
    padding: 0 15px;
    border-width: 1px;
    border-radius: 15px;
    font-size: 14px;
}

.front-button-1.active:hover, .front-button-2.active:hover {
    background: rgba(0, 0, 0, 0.1);
}

.fa-pencil, .fa-window-close {
    color: lightgrey;
    cursor:pointer;
}

.fa-pencil:hover {
    color: black;
}

.fa-window-close:hover {
    color: #DB0000;
}

#add {
    width: 100px;
    border: none;
    outline: none;
}

ul {
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

li {
    list-style: none;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
}

.deleteButton {
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-right: -45px;
}

.nameEditButton, .dateEditButton, .timeEditButton, .locationEditButton {
    background: none;
    border: none;
    outline: none;
    float: right;
}

#updateNameButton, #updateDateButton, #updateTimeButton, #updateLocationButton, #deleteButton, .cancelEditButton {
    border: none;
    outline: none;
}

.bold {
    font-weight: bold;
}