nav {
    margin-bottom: 40px; 
}

.fa-pencil, .fa-window-close {
    color: lightgrey;
    cursor:pointer;
}

.fa-pencil:hover {
    color: black;
}

.fa-window-close:hover {
    color: #DB0000;
}

#add {
    width: 71px;
}

ul {
    margin-bottom: 30px;
}

li {
    list-style: none;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
}

.deleteButton {
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-right: -45px;
}

.nameEditButton, .dateEditButton, .timeEditButton, .locationEditButton {
    background: none;
    border: none;
    outline: none;
    float: right;
}

.bold {
    font-weight: bold;
}